@(courses: List[Course], user: String)

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") >
    </th>
}

@main {

    @if(flash.containsKey("success")) {
        <div class="alert-message warning">
            <strong>Done!</strong> @flash.get("success")
        </div>
    } 
	@if(user == "dean"){
    <div id="actions">     
        <a class="btn success" id="add" href="@routes.Courses.create()">Add a new course</a>      
    </div>
    }
    {
        
        <table class="computers zebra-striped">
            <thead>
                <tr>
                    @header("name", "Course name")
                    @header("professor.name", "Professor")
                    @header("students_limit", "Students limit")
                </tr>
            </thead>
            <tbody>

                @for(course <- courses) {
                    <tr>
                        <td><a href="@routes.Courses.edit(course.name)">@course.name</a></td>
                        <td>
                                @course.professor.name
                        </td>
                        <td>
                                @course.students_limit
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        
    }
        
}

            